.loginPage {
    .login {
        background-image: url('../../../public/images/mask_group_3.png');
        height: 100vh;
        width: 100vw;
        background-position-y: center;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // justify-content: center;

        .authenticationContainer {
            margin-top: 20px;
        }

        .tabs {
            display: flex;
            
            div {
                height: 40px;
                width: 80px;
                margin: 0 5px;
                color: #F16822;
                font-size: 20px;
                cursor: pointer;
                margin-bottom: 10px;
                text-align: center;
            }
            .active-tab {
                border-bottom: 2px solid #F16822;
            }
        }

        .fields {
            display: flex;
            flex-direction: column;
            background: white;
            padding: 30px;
            border: 1px solid black;
            border-radius: 20px;
            box-shadow: 0px 5px 3px 2px grey;
            width:  30vw;
            min-width: 250px;
            max-width: 400px;
            margin-right: 200px;

            div {
                display: flex;
                flex-direction: column;
                margin: 10px 0 10px 0;
            }

            input {
                background: #DEDEDE;
                border-color: transparent;
            }
        }
    }
}

.btn-orange {
    background: #F16822;
    color: white;
    box-shadow: 0px 2px 10px #F16822;
    max-width: 110px;
    margin-top: 10px;
}