.home {
  img {
    width: 1000px;
    height: 563px;
  }
  .arrow-button {
    cursor: pointer;
  }
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }

  to {
    transform: translateY(0);
  }
}
