.customerView {
    background-image: url('../../../public/images/mask_group_3.png');
    min-height: 100vh;
    width: 100vw;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    tbody {
        background: white;
    }
}