.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .banner {
    height: 40%;
    width: 80%;
    background-image: url('../../../public/images/printing.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 8rem;
    }
  }

  .easySteps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin: 30px 0;

    .firstLine {
      margin-bottom: 50px;
      font-size: 48px;

      hr {
        border: 3px solid black;
      }
    }

    .circles {
      // width: 90%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F16822;
        width: 13vw;
        height: 13vw;
        border-radius: 16vw;
        font-size: 24px;
      }

      hr {
        border: 1px solid black;
        width: 13vw;
      }
    }
  }

  // .color-name {
  //   letter-spacing: 10px;
  //   font-weight: 100;
  //   animation: fadeIn 2s ease-in-out;
  // }

  // .product-row {
  //   width: 100%;
  // }
  

  .upload {
    width: 100vw;
    height: 60vh;
    background: #CECAA3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .uploadText {
      font-size: 3rem;
    }

    .convert {
      font-size: 20px;
    }

    .uploadFile {
      display: flex;

      .dragAndDrop,
      .chooseFile {
        height: 200px;
        width: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
      }

      .chooseFile {
       border-radius: 150px;
      }
    }
  }

  .printing {
    // height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;

    p {
      font-size: 2rem;
    }

    .bindingType {
      display: flex;
      justify-content: space-around;
      align-items: center;
      // width: 40%;
      padding: 30px 0 30px 0;

      button {
        border: 1px solid lightgrey;
        border-radius: 20px;
        width: 150px;
        padding: 10px;
        font-weight: 700;
      }

      .typeOfBindingOption {
        background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
      }
    }

    .specifyYourPrinting {
      font-size: 3rem;
    }

    .btn-submit {
      width: 150px;
      border-radius: 20px;
    }
  }

  .confirmation {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .confirm {
      font-size: 3rem;
    }

    .btn-submit {
      width: 150px;
      border-radius: 20px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}