.navigation-bar {
  //   height: 20vh;
  background-color: white;

  .navigation-top {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navigation-buttons {
    li:nth-child(1) {
      //   animation: float-in 1s ease-in-out;
    }

    li:nth-child(2) {
      //   animation: float-in 2s ease-in-out;
    }

    li:nth-child(3) {
      //   animation: float-in 3s ease-in-out;
    }
  }

  ul {
    height: 5vh;
    list-style: none;
    width: 100%;
    margin: 0 0;
    cursor: pointer;

    li {
      color: grey;
      margin: 0 2%;
      font-weight: 100;
    }
  }
}

.content {
  // height: 80vh;
  // padding: 5vh;
  overflow-x: hidden;
}

@keyframes float-in {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}