.contactDetails {
    background-color: #333333;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: ghostwhite;

    .firstDiv {}

    .secondDiv {
        border-top: 1px solid #707070;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        width: 90%;

        .socialMedia {
            display: flex;
            justify-content: space-evenly;
        }
    }
}