.introPage {
    .introduction {
        background-image: url('../../../public/images/mask_group_3.png');
        height: 100vh;
        width: 100vw;
        background-position-y: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .firstLine {
            font-size: 60px;
            color: #F16822;
            font-weight: 400;
            margin-bottom: 4rem;
        }

        .secondLine {
            font-size: 36px;
            text-align: center;
        }
    }

    .easySteps {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
        margin: 30px 0;

        .firstLine {
            margin-bottom: 50px;
            font-size: 48px;

            hr {
                border: 3px solid black;
            }
        }

        .circles {
            width: 90%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #F16822;
                width: 13vw;
                height: 13vw;
                border-radius: 16vw;
                font-size: 24px;
            }

            hr {
                border: 1px solid black;
                width: 13vw;
            }
        }
    }

    .whatIsGoPrint {
        background-image: url('../../../public/images/mask_group_4.png');
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .firstLine {
            font-size: 48px;
            color: #F16822;
            margin-bottom: 50px;
        }

        .secondLine {
            font-size: 36px;
            text-align: center;
            color: #ffffff;
        }
    }

    .developerProfile {
        background-image: url('../../../public/images/rect.png');
        display: flex;
        flex-direction: row;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
        height: 75vh;
        border-top: 2px solid white;

        .developerProfileDetails {
            margin-left: 25px;

            .firstLine {
                margin-bottom: 50px;
                font-size: 48px;
            }

            .secondLine {
                font-size: 24px;
            }
        }
    }

    .contactDetails {
        background-color: #333333;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: ghostwhite;

        // .firstDiv {}

        .secondDiv {
            border-top: 1px solid #707070;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 10vh;
            width: 90%;
        }
    }
}